<nav class="navbar navbar-light bg-light">
  <div class="container-md">
    <div class="btn-group">
      <button
        type="button"
        class="btn-outline-success dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Change Selection
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">AI GenZ</a></li>
        <li><a class="dropdown-item" href="/image">Image File</a></li>
      </ul>
    </div>
  </div>
</nav>
